@import "tailwindcss";
@import url('https://use.typekit.net/your-font-kit-id.css');

body{
    font-family: 'Helvetica Now Display', sans-serif;
    background-color: #fd2c2a;
    overflow-x: hidden;
    /* background-color: #0e0e0e; */
}
canvas{
    pointer-events: none;
}